@{
    ViewBag.Title = "About";
}

<h2>About Garelic for ASP.NET MVC</h2>
<p>
    To learn more about Garelic for ASP.NET MVC visit <a href="https://github.com/brano/Garelic.NET" title="Garelic.NET website">project website</a>.
</p>
