@{
    ViewBag.Title = "Garelic for ASP.NET MVC";
}

<h2>Welcome!</h2>
<p>
    To learn more about Garelic for ASP.NET MVC visit <a href="https://github.com/brano/Garelic.NET" title="Garelic.NET website">project website</a>.
</p>
